/*---------grid navigation--------*/
.gridNavigation{
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 100px auto auto auto;
  background-color: #6699ff;
}
.gridNavigation:hover{
    background-color: #1a66ff;
}


.NavigationItem{
  background-color: #e6f7ff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10%;
  text-decoration:none;
}

.NavigationLogo{
  background-color: #e6f7ff;
  border-radius: 10%;
  width: 100px;
  align-content: center;
}

.logoImg{
  width: 100px;
  padding: 10px;
  padding-top: 20px;
}

/*-------------- copyright ----------------------------------*/
.copyright{
  display: grid;
  padding: 15px;
  background-color: #1a66ff;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

/*-----------for a only ----------*/

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  text-decoration-style: wavy;
  color: #6699ff;
}
a:active{
  color: #004de6;
}

/*-----------about us navigation page ----------- */

.groups{
  display: flex;
  flex-wrap: wrap;
}

.groups > div{
  background-color: #b3ccff;
  font-size: 15px;
  margin: 20px;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

/*------------- first page title---------------*/
@media (min-width: 550px){
  #titleWelcome::before{
  content: "Welcome to KFAR GALIM!";
  }
}

@media (max-width: 549px){
  #titleWelcome::before{
  content: "Welcome!";
  }
}

/*------------- third page title ---------------*/
@media (min-width: 550px){
  #lovelyTitle::before{
  content: "Our LOVELY Komuna members:";
  font-style: italic;
  }
}

@media (max-width: 549px){
  #lovelyTitle::before{
  content: "Our Komuna:";
  font-style: italic;
  }
}


/*----------- forth page navigation line ----------------------*/
#nav{
  background-color: #e6f7ff;
  color:#051117;
  text-align: center;
}
/*------------ image centering--------------*/
.image{
  width:60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
