/*---------grid navigation--------*/
.gridNavigation{
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 100px auto auto auto;
  background-color: #6699ff;
}
.gridNavigation:hover{
    background-color: #1a66ff;
}

.NavigationItem{
  background-color: #e6f7ff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10%;
  text-decoration:none;
}

.NavigationLogo{
  background-color: #e6f7ff;
  border-radius: 10%;
  width: 100px;
  align-content: center;
}

.logoImg{
  width: 80px;
  padding: 10px;
}

/*-----------for a only ----------*/

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  text-decoration-style: wavy;
  color: #6699ff;
}
a:active{
  color: #004de6;
}

/*-----------about us navigation page ----------- */

.groups{
  display: flex;
  flex-wrap: wrap;
}

.groups > div{
  background-color: #b3ccff;
  font-size: 15px;
  margin: 20px;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
}

/*------------- first page title---------------*/
@media (min-width: 550px){
  #titleWelcome::before{
  content: "Welcome to KFAR GALIM!";
  }
}

@media (max-width: 549px){
  #titleWelcome::before{
  content: "Welcome!";
  }
}
